header.header
    .container
        .header-inner
            .header-logo
                a(href='#') conduit
            nav.header-menu
                 ul.header-menu-list
                    li.header-menu-list-item.active
                        a(href='#') Home
                    li.header-menu-list-item
                        a(href='#') Sing in
                    li.header-menu-list-item
                        a(href='#') Sing up