header.header
    .container
        .header-inner
            .header-logo
                a(href='#') conduit
            nav.header-menu
                 ul.header-menu-list
                    li.header-menu-list-item
                        a(href='index.html') Home
                    li.header-menu-list-item
                        a(href='sing-in.html') Sing in
                    li.header-menu-list-item
                        a(href='sign-up.html') Sign up