extends  base

block content
    main.main
        include header
        .main-wrapper
            section.section.conduit
                h1.conduit-title conduit
                p.conduit-text A place to share your knowledge.
        footer.footer