extends  base

block content
    main.main
        include header
        .main-wrapper
            section.section.sing-in
                h2.sing-in-title Sign in
                a(href='sign-up.html').sing-in-link Need an account?
                form.sing-in-form
                    input(type='text' placeholder='Email').sing-in-email
                    input(type='text' placeholder='Password').sing-in-password
                    button.sing-in-button Sing in

        footer.footer